<h1 class="display-5 text-center"> Empleados del negocio </h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
<% @employee.each do |employee| %>
    <%= render "employee_card", employee: employee, colors_map: @colors_map %>
<% end %>
</div>
